.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

/* header */
header {
    padding: 52px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_image {
    width: 46px;
    height: 46px;
}

ul {
    display: flex;
    column-gap: 50px;
}

.header_text a {
    color: #27187F;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.search_container {
    color: #758BFD;
    border-radius: 10px;
    border: 3px solid #758BFD;
    height: 56px;
    width: 222px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 8px;

}

.search_logo {
    width: 32px;
    height: 32px;
}

/* section */
section {
    background-color: #DDEAF8;
    padding: 115px 98px;


}

.all_div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 51px;
    column-gap: 22px;

}

.card {
    background-color:
        #FFFFFF;
    width: 400px;
    height: 333px;
    padding: 33px 30px;
    border-radius: 10px;

}

.title {
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #27187F;
    margin-bottom: 68px;

}

.photo {
    width: 100%;
    height: 188px;
}

.card_text {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #133B3A;
    margin-top: 33px;

}
